.page-container {
	display: flex;
	height: 100vh;
	background-size: cover;
}

.page-wrapper {
	width: 50%;
	position: relative;
	background: #f0f0f0;
}

.page-left {
}

.page-right {
	background-color: #f0f0f0;
}

@import './login.scss';
