.company-container {
	width: 60vw;
	margin: auto;
}

.company-page {
	position: relative;
	background-color: #fff;
	padding: 20px;
	border-radius: 15px;
}

.bank-info {
	.value {
		.bank-attachment-file {
		}
	}
}

@import './form.scss';
